{% extends 'layout.html' %}

{% block body %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <h1>Add Project</h1>
 {% from "include/_formhelpers.html" import render_field %}
 <form method="POST" action="" id="form1" name ="form1">
   <div class="form-group">
     <input type="text" id="title" name="title">
   </div>
   <div class="form-group">
     <textarea type="textbox" id="desc" name="desc"></textarea>
   </div>
   <label for="tag">Add Tags: </label>
 	 <input type="text" id="tag" name="tag" data-role="tagsinput">
 </form>
 <p><input type="submit" class="btn btn-primary" value="submit" onclick="document.forms['form1'].submit()"></p>
{% endblock %}
