{% extends 'layout.html' %}

{% block body %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <h1>Add Project</h1>
 {% from "include/_formhelpers.html" import render_field %}
 <form method="POST" action="" id="form1" name ="form1">
   <div class="form-group">
     <label for="title" >Title: </label>
     <input type="text" id="title" name="title" class="form-control">
   </div>
   <div class="form-group">
     <label for="desc">Description: </label>
     <!-- {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
     {{ ckeditor.create() }} -->
     <input type="textbox" id="desc" name="desc" class="form-control">
     <!-- <textbox id="desc" name="desc" class="form-control"></textbox> -->
   </div>
   <label for="tag">Add Tags: </label>
   <br>
 	 <input type="text" id="tag" name="tag" data-role="tagsinput" class="form-control">
 </form>
 <p><input type="submit" class="btn btn-primary" style="margin-top: 20px;" value="submit" onclick="document.forms['form1'].submit()"></p>
{% endblock %}
