<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title>Connect</title>
   <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="static/dist/bootstrap-tagsinput.css">
   <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css"> -->
 </head>
 <body>
   {% include 'include/_navbar.html' %}
   <div class="container">
    {% include 'include/_messages.html' %}
    {% block body %}{% endblock %}
   </div>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
   <script src="static/dist/bootstrap-tagsinput.min.js"></script>
   <script src="static/dist/bootstrap-tagsinput-angular.min.js"></script>


 </body>
</html>
