{% extends 'layout.html' %}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div id="projectList">
</div>
<script type="text/javascript">
	$SCRIPT_ROOT = {{request.script_root|tojson|safe}};
	var string1 = "";
	function buildtable(){
		string1= "<table class='table table-hover'><tr><th>Project Title</th><th>Description</th><th>Tags</th><th>Edit</th><th>Delete</th></tr>";
		$.getJSON($SCRIPT_ROOT+'/proj',{},function(data){
			var array = data;
			console.log(array);
			array.forEach(function(data){
				var s = "<tr><td>"+data["project_title"]+"</td><td>"+data["description"]+"</td><td>";
				if(data["tagArray"]){
				var arr = data["tagArray"].split(',');
				arr.forEach(function(d){
					s+='<span class = "badge badge-default">'+d+"</span>";
				});
				}
				msg="Are you sure?";
				p='<input type="submit" value="Delete" class="btn btn-danger" onclick="return deleteD('+data["id"]+')">';
				string1+=s+"</td><td>"+'<a href="/update?id='+data["id"]+'">Edit</a>'+'<td>'+p+'</td></tr>';

			});
			string1+="</table>"
			console.log(string1);
			//$("#projectList").(string1);
			document.getElementById("projectList").innerHTML = string1;
		});
	}
	$(window).load(buildtable);
function deleteD(t)
{
	var res = confirm("Are you sure?");
	if(!res)
		return false;
	$.getJSON($SCRIPT_ROOT+"/del",{
		idd : t
	},function(data){
		location.reload();
		return true;
	});
}
</script>
{% endblock %}
